GridBackground {
    --grid-background-color: rgb(40, 40, 40);
    --line-color: rgba(193, 196, 192, 0.1);
    --thick-line-color: rgba(193, 196, 192, 0.2);
    --spacing: 15;
}
#cap {
    background-color: rgba(0, 0, 0, 0);
}
.connectorCap {
    background-color: rgba(0, 0, 0, 0);
}